---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  border-top: none;
}

.site-footer {
  padding-top: 15px;
}

.footer-col-1 {
  display: none;
}

.footer-col-2 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(55% - (#{$spacing-unit} / 2));
  width:         calc(55% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  .markdown-body {
    ul, ol {
      padding-left: 0;
    }
  }
}

.social-media-list li {
  display: inline-block;
  margin-right: 1em;
  +li {
    padding-top: 0;
  }
}

.markdown-body ul.post-meta {
  padding-left: 0;
}

.post-meta {
  margin-left: 0;
  li {
    display: inline-block;
    margin-right: 1em;
  }
  li[itemprop="author"], [itemprop="publisher"] {
    display: none;
  }
}
