---
layout: default
---
<article class="post markdown-body" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <ul class="post-meta">
      <li>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}</time>
      </li>
      {% if page.last_modified_at %}
      <li>
        Modified: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
        {{ page.last_modified_at | date: date_format }}</time>
      </li>
      {% else %}
      <meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}">
      {% endif %}
      {% if page.author or site.author %}
      <li itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author | default: site.author }}</span>
      </li>
      {% endif %}
      <li>
        <div itemscope itemprop="image" itemtype="http://schema.org/ImageObject">
            <meta itemprop="url" content="http://mtm-gaming.org/images/KV-2_Crushing.png">
            <meta itemprop="width" content="1170">
            <meta itemprop="height" content="406">
        </div>
        <div itemscope itemprop="publisher" itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="mtm-gaming">
            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="url" content="http://mtm-gaming.org/images/MTM-emblem_200x200.png">
            </div>
        </div>
        <meta itemscope itemprop="mainEntityOfPage" href="{{ page.url }}">
      </li>
    </ul>
    <div>
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
