---
layout: default
---
<article class="post markdown-body" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <ul class="post-meta">
      <li>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}</time>
      </li>
      {% if page.modified %}
      <li>
        Modified: <time datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">
        {{ page.modified | date: date_format }}</time>
      </li>
      {% endif %}
      {% if page.author %}
      <li itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </li>
      {% elsif site.author %}
      <li itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ site.author }}</span>
      </li>
      {% endif %}
    </ul>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
